/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
.container{
    width: 95%;
    margin: 0 auto;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    color: white;
}
img{
    width: 100%;
}

/* HEADER  */
header{
    display: flex;
    justify-content: flex-end;
    
    background-color: black;
    width: 100%;
    height: 2.5rem;
}
.header-elements{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}
.header-elements > div{
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 1rem;
}

/* MAIN  */
    main{
        width: 100%;
        height: calc(100vh - 7.5rem);
        overflow-y: auto;
        background-color: black;
    }
    main > .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .member{
        position: relative;
        width: 246px;
        height: 146px;
        margin: 5px;
    }
    .member-info{
        position: absolute;
        bottom: 0;
        left: 0;

        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.3rem 0.2rem;
        background-color: rgba(119, 136, 153, 0.4)
    }
/* FOOTER  */
footer{
    background-color: #222222;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 5rem;
}

/* mic and video icon  */
.media-ico{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.icon{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3px 4px;
    margin: 0 5px;
    font-size: 1.2rem;
}
.icon i{
    font-size: 2rem;
}


/* room option icon  */
.room-control{
    height: 100%;

    display: flex;
    align-items: center;
}



/* end meeting button  */
.exit-btn{
    height: 100%;
    padding: 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.exit-btn span{
    display: inline-block;
    font-weight: 900;
    color: red;
}
.active i{
    color: #4bc800;
}