/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* HEADER  */
header{
    display: flex;
    justify-content: flex-end;
    
    background-color: black;
    width: 100%;
    height: 25px;
}
.footer-elements{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}
.footer-elements > div{
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 1rem;
}

/* MAIN  */
    main{
        /* background-color: black; */
        /* debug: */
        width: 100%;
        height: calc(100vh - 80px);
    }
/* FOOTER  */
footer{
    background-color: grey;
    /* debug: */
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50px;
}
.media-ico{
    width: 20%;
    background-color: red;
    /* debug; */
    height: 100%;
}
.room-control{
    width: 50%;
    background-color: yellow;
    /* debug: */
    height: 100%;
}
.exit-btn{
    width: 10%;
    background-color: pink;
    /* debug:  */
    height: 100%;
}